.ba { text-decoration:none !important }
.ba {
    color: black;
}
.ba:hover { text-decoration:none !important }

table{
    border: 1px solid #000;
    width: 300x;
    height: 500px;
}
td{
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;  /* top, middle, bottom */
}
.td1{
    width: 200px;
}
.my_title{
	width: 350px;
	font-weight: bold;
}

.p_img_box{
	overflow: hidden;
	border-radius: 20px;
	width : 300px;
	height : 200px;	
}

.p_class{
	overflow: hidden;
	border-radius: 20px;
	width : 300px;
	height : 200px;	

}

#p_img{
		width : 300px;
	height : 200px;	
	
}


 